In [1]:
from tinydb import TinyDB, Query
db = TinyDB('db.json')

In [2]:
db.insert({'type': 'apple', 'count': 7})
db.insert({'type': 'peach', 'count': 3})

2

In [3]:
db.all()

[{'type': 'apple', 'count': 7}, {'type': 'peach', 'count': 3}]

In [4]:
for item in db:
    print(item)

{'type': 'apple', 'count': 7}
{'type': 'peach', 'count': 3}

In [5]:
Fruit = Query()
db.search(Fruit.type == 'peach')

[{'type': 'peach', 'count': 3}]

In [6]:
db.search(Fruit.count > 5)

[{'type': 'apple', 'count': 7}]

In [7]:
db.update({'count': 10}, Fruit.type == 'apple')
db.all()

[{'type': 'apple', 'count': 10}, {'type': 'peach', 'count': 3}]

In [8]:
db.remove(Fruit.count < 5)
db.all()

[{'type': 'apple', 'count': 10}]

In [9]:
#모든 데이터가 날아감 
db.purge()
db.all()

[]

# Querys

In [10]:
from tinydb import Query
User = Query()
db.search(User.name == 'John')

[]

In [11]:
db.search(User.birthday.year == 1990)

[]

In [12]:
# This would be invalid Python syntax:
#db.search(User.country-code == 'foo')
# Use this instead:
db.search(User['country-code'] == 'foo')

[]

In [13]:
from tinydb import where
db.search(where('field') == 'value')

[]

In [14]:
db.search(Query()['field'] == 'value')

[]

In [15]:
db.search(where('birthday').year == 1900)
db.search(where('birthday')['year'] == 1900)

[]

# Advanced Queries

In [16]:
# Existence of a field:
db.search(User.name.exists())

[]

In [17]:
# Regex:
# Full item has to match the regex:
db.search(User.name.matches('[aZ]*'))
# Any part of the item has to match the regex:
db.search(User.name.search('b+'))

[]

In [18]:
 # Custom test:
test_func = lambda s: s == 'John'
db.search(User.name.test(test_func))

[]

In [19]:
# Custom test with parameters:
def test_func(val, m, n):
     return m <= val <= n
db.search(User.age.test(test_func, 0, 21))
db.search(User.age.test(test_func, 21, 99))

[]

In [20]:
db.insert({'name': 'user1', 'groups': ['user']})
db.insert({'name': 'user2', 'groups': ['admin', 'user']})
db.insert({'name': 'user3', 'groups': ['sudo', 'user']})

3

In [21]:
# User's groups include at least one value from ['admin', 'sudo']
db.search(User.groups.any(['admin', 'sudo']))
[{'name': 'user2', 'groups': ['admin', 'user']},
 {'name': 'user3', 'groups': ['sudo', 'user']}]

# User's groups include all values from ['admin', 'user']
db.search(User.groups.all(['admin', 'user']))
[{'name': 'user2', 'groups': ['admin', 'user']}]

[{'name': 'user2', 'groups': ['admin', 'user']}]

In [22]:
Group = Query()
Permission = Query()
groups = db.table('groups')
groups.insert({
        'name': 'user',
        'permissions': [{'type': 'read'}]})
groups.insert({
        'name': 'sudo',
        'permissions': [{'type': 'read'}, {'type': 'sudo'}]})
groups.insert({
        'name': 'admin',
        'permissions': [{'type': 'read'}, {'type': 'write'}, {'type': 'sudo'}]})

3

In [23]:
>>> # Group has a permission with type 'read'
>>> groups.search(Group.permissions.any(Permission.type == 'read'))
[{'name': 'user', 'permissions': [{'type': 'read'}]},
 {'name': 'sudo', 'permissions': [{'type': 'read'}, {'type': 'sudo'}]},
 {'name': 'admin', 'permissions':
        [{'type': 'read'}, {'type': 'write'}, {'type': 'sudo'}]}]
>>> # Group has ONLY permission 'read'
>>> groups.search(Group.permissions.all(Permission.type == 'read'))
[{'name': 'user', 'permissions': [{'type': 'read'}]}]

[{'name': 'user', 'permissions': [{'type': 'read'}]}]

In [24]:
#The opposite operation, checking if a single item is contained in a list, is also possible using one_of:
db.search(User.name.one_of(['jane', 'john']))

[]

# Query modifiers

In [25]:
# Negate a query:
#db.search(~ User.name == 'John')
# Logical AND:
db.search((User.name == 'John') & (User.age <= 30))
# Logical OR:
db.search((User.name == 'John') | (User.name == 'Bob'))

[]

# Handling Data

In [26]:
db.insert_multiple([
        {'name': 'John', 'age': 22},
        {'name': 'John', 'age': 37}])
db.insert_multiple({'int': 1, 'value': i} for i in range(2))

[6, 7]

In [27]:
db.update({'foo': 'bar'})

[1, 2, 3, 4, 5, 6, 7]

In [28]:
from tinydb.operations import delete
db.update(delete('key1'), User.name == 'John')

KeyError: 'key1'