In [5]:
import pandas as pd
from pandas import Series, DataFrame
import numpy as np

In [6]:
serialData = {'a':35000,'b':5000, 'c':13000}

In [7]:
serialData

{'a': 35000, 'b': 5000, 'c': 13000}

In [8]:
object2 = Series(serialData)
object2

a    35000
b     5000
c    13000
dtype: int64

In [9]:
pd.isnull(object2)

a    False
b    False
c    False
dtype: bool

In [10]:
pd.notnull(object2)

a    True
b    True
c    True
dtype: bool

In [52]:
obj = Series([4.4, 6.7,-5.5, 3.5], index=['d','b','a','c'])
obj

d    4.4
b    6.7
a   -5.5
c    3.5
dtype: float64

In [56]:
obj2 = obj.reindex(['a','b','c','d','e'], fill_value=0)
obj2

a   -5.5
b    6.7
c    3.5
d    4.4
e    0.0
dtype: float64

In [57]:
obj3 = Series(['blue','purple','yellow'], index=[0,2,4])
obj3.reindex(range(6), method='ffill')

0      blue
1      blue
2    purple
3    purple
4    yellow
5    yellow
dtype: object

In [58]:
obj = Series(np.arange(5.), index=['a','b','c','d','e'])
obj

a    0
b    1
c    2
d    3
e    4
dtype: float64

In [60]:
new_obj = obj.drop('c')
new_obj

a    0
b    1
d    3
e    4
dtype: float64