In [2]:
import pandas as pd
from pandas import Series, DataFrame
import numpy as np

In [3]:
serialData = {'a':35000,'b':5000, 'c':13000}

In [7]:
#위의 딕셔너리 데이터를 이용하여 Series 데이터를 만들어보세요
df = pd.Series(serialData)
df

a    35000
b     5000
c    13000
dtype: int64

In [9]:
#object2에 null이 있는지 체크 isnull 함수 사용.. 풀어보세요
df.isnull()

a    False
b    False
c    False
dtype: bool

In [11]:
#object2에 null이 있는지 체크 notnull 함수 사용.. 풀어보세요 
df.notnull()

a    True
b    True
c    True
dtype: bool

In [25]:
obj = Series([4.4, 6.7,-5.5, 3.5], index=['d','b','a','c'])
obj

d    4.4
b    6.7
a   -5.5
c    3.5
dtype: float64

In [28]:
# reindex 함수를 사용하여 obj의 인덱스를 변경하세요. fill_value=0 옵션 사용
obj2 = obj.reindex(index=['a','b','c','d','e'], columns=obj[:] fill_value=0)
obj2

'''
Out[10]:
a   -5.5
b    6.7
c    3.5
d    4.4
e    0.0
dtype: float64
'''

'\nOut[10]:\na   -5.5\nb    6.7\nc    3.5\nd    4.4\ne    0.0\ndtype: float64\n'

In [57]:
obj3 = Series(['blue','purple','yellow'], index=[0,2,4])
obj3.reindex(range(6), method='ffill')

0      blue
1      blue
2    purple
3    purple
4    yellow
5    yellow
dtype: object

In [58]:
# 0 ~ 5까지의 연속된 수를 이용하여 series 를 만드세요. 인덱스는 a,b,c,d,e 로 주세요.

a    0
b    1
c    2
d    3
e    4
dtype: float64

In [60]:
new_obj = obj.drop('c')
new_obj

a    0
b    1
d    3
e    4
dtype: float64