In [1]:
from tinydb import TinyDB, Query
filepath = 'test_tynydb.json'
db = TinyDB(filepath)
db.purge_table('fruits')
table = db.table('fruits')

table.insert({'name': 'Banana', 'price':6000})
table.insert({'name': 'Orange', 'price':12000})
table.insert({'name': 'Mango', 'price':8400})
print (table.all())

[{'name': 'Banana', 'price': 6000}, {'name': 'Orange', 'price': 12000}, {'name': 'Mango', 'price': 8400}]

In [6]:
Item = Query()
res = table.search(Item.name == 'Orange')
print('The price of orange is %d won'%(res[0]['price']))

# 가격이 8000원 이상인 것 추출
print('가격이 8000원 이상인 것:')
res = table.search(Item.price >= 8000)
for it in res:
    print('-', it['name'])

The price of orange is 12000 won
가격이 8000원 이상인 것:
- Orange
- Mango